services:
  audience:
    build: .
    image: masques-audience
    container_name: masques-audience
    ports:
      - "0.0.0.0:4317:4317"   # gRPC
      - "0.0.0.0:4318:4318"   # HTTP
      - "0.0.0.0:13133:13133" # Health check
    restart: unless-stopped
